{% extends 'GWP/base.html' %}

{% block title %}
    Nosotros
{% endblock title %}

{% block cont_title %}
    ⏬ ¡Conócenos! ⏬
{% endblock cont_title %}

{% block contenido %}    
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Creado por:</h2>
                <h2 class="text-white mb-4">Alejandro Zambrano</h2>
                <img src="https://i.pinimg.com/736x/6a/0c/41/6a0c419574cc02c374dfba8fb97da40a.jpg" class="img-thumbnail h-25 mb-4" alt="...">
                <h1 class="text-white mb-4">Python dev jr.</h1>
                <p class="text-white-50">
                    ¡Hola!, soy el creador de esta página web, me llamo Alejandro Zambrano, a la fecha de creada esta página recién
                    estoy empezando en el mundo de la programación, ¡es genial! Mi motivación para comenzar este camino son, como podrás
                    imaginar, ¡los videojuegos! y es que saber cómo programar puede hacerte entender mejor cómo funcionan ciertas cosas
                    en el mundo de los videojuegos. Fui profesor de inglés en un curso privado de Venezuela, que es de donde soy, y sí,
                    soy bilingüe.
                    
                    Puedes seguir mi progreso <a href="https://github.com/AZHephaestus">aquí.</a>

                    Espero que te haya gustado mi página ¡y gracias por visitar este apartado!
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}

{% block imagenes %}
    <img src="/assets/img/Gothic_Fantasy-7.png" alt="..."  class="img-fluid h-auto w-auto">
{% endblock imagenes %}