{% extends 'GWP/base.html' %}
{% block title %}
    Menú de creación
{% endblock title %}

{% block cont_title %}
    ¡Bienvenido al menú de creación!
{% endblock cont_title %}
{% block contenido %}
<div class="container px-4 px-lg-5 d-flex py-4 h-50 align-items-center justify-content-center">
    <div class="d-flex">
        <div class="text-center">
<button class="btn btn-dark"><a class="text-white-50" href="{% url 'game_form' %}">Agregar juegos</a></button>
<button class="btn btn-dark"><a class="text-white-50" href="{% url 'genre_form' %}">Agregar género</a></button>
<button class="btn btn-dark"><a class="text-white-50" href="{% url 'gamebygenre_form' %}">Agregar juegos por género</a></button>
        </div>
    </div>
</div>
{% endblock contenido %}