{% extends 'GWP/base.html' %}

{% block title %}
    Lista de juegos por género
{% endblock title %}

{% block cont_title %}
    Lista de videojuegos por género
{% endblock cont_title %}

{% block contenido %}

<table class="table table-dark table-striped row-cols-auto text-md-center">
    <thead>
      <tr>
        <th scope="col" class="text-black text-bg-light">Nombre</th>
        <th scope="col" class="text-black text-bg-light">Género</th>
      </tr>
    </thead>
    <tbody>
        {% for genjuegos in object_list %}
        <tr>
            <td scope="row">{{genjuegos.game}}</td>
            <td>{{genjuegos.genre}}</td>
            {% if user.is_staff %}
            <td>
              <button class="btn btn-info"><a class="text-white-50" href="{% url 'gamebygenre_update' genjuegos.id %}">Modificar</a></button>
              <button class="btn btn-danger"><a class="text-white-50" href="{% url 'gamebygenre_delete' genjuegos.id %}">Eliminar</a></button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock contenido %}