{% extends 'GWP/base.html' %}

{% block title %}
    Añadir juegos
{% endblock title %}

{% block cont_title %}

    ¡Añade un juego!
    
{% endblock cont_title %}

{% block contenido %}

    <form method="post" class="text-center">
        {% csrf_token %}
        {{form.as_p}}
        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-dark btn-sm">Guardar</button>
            <a href="{% url 'game_list' %}" class="btn btn-dark text-decoration-none">Cancelar</a>
        </div>
    </form>
    
{% endblock contenido %}