{% extends 'GWP/base.html' %}

{% block title %}
    Creación de género de videojuegos
{% endblock title %}

{% block cont_title %}

    ¡Añade un género!
    
{% endblock cont_title %}

{% block contenido %}

    <form method="post" class="text-center">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-dark btn-sm">Agregar</button>
        <a href="{% url 'genre_list' %}" class="btn btn-dark text-decoration-none">Cancelar</a>
    </form>
{% endblock contenido %}