{% extends 'GWP/base.html' %}

{% block title %}
    Lista de juegos por género
{% endblock title %}

{% block cont_title %}
    Lista de videojuegos por género
{% endblock cont_title %}

{% block contenido %}

<div class="text-center">  
  <input type="text" name="consulta" placeholder="Buscar juegos por género">
</div>

<table class="table table-dark table-striped row-cols-auto text-md-center">
    <thead>
      <tr>
        <th scope="col" class="text-black text-bg-light">Nombre</th>
        <th scope="col" class="text-black text-bg-light">Género</th>
      </tr>
    </thead>
    <tbody>
        {% for genjuegos in object_list %}
        <tr>
            <td scope="row">{{genjuegos.game}}</td>
            <td>{{genjuegos.genre}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock contenido %}