{% extends 'GWP/base.html' %}
{% block title %}
    Inicio
{% endblock title %}

{% block cont_title %}
    ¡BIENVENIDO A GamingWebPage!
{% endblock cont_title %}
{% block contenido %}
<div class="container px-4 px-lg-5 d-flex py-4 h-50 align-items-center justify-content-center">
    <div class="d-flex">
        <div class="text-center">
            <h1 class="mx-auto my-0 text-uppercase">GamingWebPage</h1>
            <h2 class="text-black mx-auto mt-2 mb-3">Un lugar, todos tus juegos.</h2>
<button class="bg-opacity-75"><a class="text-dark" href="{% url 'game_list' %}">Lista de juegos</a></button>
<button class="bg-opacity-75"><a class="text-dark" href="{% url 'game_create' %}">Agregar juegos</a></button>
<button class="bg-opacity-75"><a class="text-dark" href="{% url 'genre_list' %}">Lista de géneros</a></button>
<button class="bg-opacity-75"><a class="text-dark" href="{% url 'genre_create' %}">Agregar género</a></button>
<button class="bg-opacity-75"><a class="text-dark" href="{% url 'gamebygenre_list' %}">Lista de juegos por género</a></button>
<button class="bg-opacity-75"><a class="text-dark" href="{% url 'gamebygenre_create' %}">Agregar juego por género</a></button>
        </div>
    </div>
</div>
{% endblock contenido %}